# **Task P2**
## Analyzing the Avocado Data
##### This task uses the avocado dataset. The dataset contains historical data on avocado prices and sales volume in multiple U.S. markets. One of the columns in this dataset, Unnamed: 0, contains sequential numbers that are irrelevant to analyzing this data. Three of the other columns contain sales for PLU (price look-up) codes 4046, 4225, and 4770. These columns will not be used in this task. If you review the data, you’ll see that some of the regions overlap. For example, one of the regions is the entire U.S., and all of the other regions are parts of the U.S. Because of that, you would need to review this data carefully before determining the best way to analyze it. For the purposes of this task though, the overlapping regions won’t be taken into consideration.

##### https://www.kaggle.com/neuromusic/avocado-prices

<img src="avocado-logo.png" alt="SIT112 Avocado!" width="1800" height="200">

### A. Instructions

1. Complete this task without looking at the solution notebook. 
2. You can then look at the solution notebook and compare it against yours.
3. Complete and submit the TaskCompletionReport form in PDF format using Ontrack. You can do this by the end of Week 12, but feedback will only be provided for submissions received by 11 AM of the due date.
4. Do **not** include the solution (yours or the one provided to you) in your submission.
5. The workshops are the primary venue for you to seek help if you need any clarification/assitance. The tutors are there to help you complete and submit the tasks. Please avoid emailing your code or screenshots to the tutors outside workshop hours. 
6. Consider using online resources such as ChatGPT to strenghten your undertanding of the task. 

Good luck :)

### B. Write Python code that performs (answers) the following operations (questions)

In [1]:
# Import the pandas library and alias it as "pd"

##### 1. Read the data from the CSV file into a DataFrame.

In [3]:
# write your code here

# Read the csv file 'avocado.csv' and store it in a variable called 'data'

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

##### 2. Display type, memory consumption, and null count information using the info() method.

In [3]:
# write your code here

##### 3. Display the number of unique values in each column.

In [4]:
# write your code here

##### 4. Display all the rows of data that JupyterLab displays by default.

In [5]:
# write your code here

##### 5. Display the first and last five rows of data and the first and last four columns of data.

In [6]:
# write your code here

##### 6. Choose any three columns, access them with bracket notation, and display the first five rows of this data.

In [7]:
# write your code here

##### 7. Select one column and access it with dot notation.

In [8]:
# write your code here

##### 8. Multiply the Total Volume and AveragePrice columns, and store the result in a new column called EstimatedRevenue. Then, display the first five rows of this data to confirm that the column was added and has the correct values.

In [9]:
# write your code here

##### 9. Create a DataFrame that’s grouped by region and type and that includes the average price for the grouped columns. Then, reset the index and display the first five rows.

In [10]:
# write your code here

##### 10. Create a bar plot that shows the mean, median, and standard deviation of the Total Volume column by year.

In [11]:
# write your code here

##### 11. How many unique regions are there?

In [12]:
# write your code here

##### 12. What is the average price for each type of avocado (organic and conventional)? Be sure to include just the type and AveragePrice columns in the results.

In [13]:
# write your code here

##### 13. Which region has the lowest average price for organic avocados? Hint: create wide data from the grouped data that you created in section B.9.

In [14]:
# write your code here

# Group the data by region and type, calculate the mean AveragePrice,
# and then pivot the table to show the AveragePrice by region and type. 
# then sort the table by organic AveragePrice in ascending order and
# display the row with the lowest organic AveragePrice.

##### 14. Have the Total Bags sold per year of each type of avocado become more or less consistent over time? 

#####  *Use the standard deviation (std), which is a statistical measure of how spread out the data is from the mean. In this case, using std to analyze the Total Bags sold per year of each type of avocado can help us understand how consistent the sales are over time: If the std is high, it means that the Total Bags sold per year vary widely from the mean and are not consistent. On the other hand, if the std is low, it means that the Total Bags sold per year are close to the mean and are consistent.*

##### *Therefore, by calculating the std of Total Bags sold per year for each type of avocado, we can determine if the sales have become more or less consistent over time. If the std decreases over time, it means that the sales are becoming more consistent. If the std increases over time, it means that the sales are becoming less consistent.*

In [15]:
# write your code here

### C. Learn more
* https://www.mathsisfun.com/data/standard-deviation.html
* https://youtu.be/s7WTQ0H0Acc