# **Task P6** 
## Preparing the Avocado Data

##### This task uses the avocado dataset. The dataset contains historical data on avocado prices and sales volume in multiple U.S. markets. One of the columns in this dataset, Unnamed: 0, contains sequential numbers that are irrelevant to analyzing this data. Three of the other columns contain sales for PLU (price look-up) codes 4046, 4225, and 4770. These columns will not be used in this task. If you review the data, you’ll see that some of the regions overlap. For example, one of the regions is the entire U.S., and all of the other regions are parts of the U.S. Because of that, you would need to review this data carefully before determining the best way to analyze it. For the purposes of this task though, the overlapping regions won’t be taken into consideration.

##### https://www.kaggle.com/neuromusic/avocado-prices

<img src="avocado-logo.png" alt="SIT112 Avocado!" width="1800" height="200">

### A. Instructions

1. Complete this task without looking at the solution notebook. 
2. You can then look at the solution notebook and compare it against yours.
3. Complete and submit the TaskCompletionReport form in PDF format using Ontrack. You can do this by the end of Week 12, but feedback will only be provided for submissions received by 11 AM of the due date.
4. Do **not** include the solution (yours or the one provided to you) in your submission.
5. The workshops are the primary venue for you to seek help if you need any clarification/assistance. The tutors are there to help you complete and submit the tasks. Please avoid emailing your code or screenshots to the tutors outside workshop hours. 
6. Consider using online resources such as ChatGPT to strengthen your understanding of the task. 

Good luck :)

### B. Write Python code that performs (answers) the following operations (questions)

In [1]:
import pandas as pd

##### 1.	Read the data from the .csv file into a DataFrame and display the first five rows.

In [2]:
# write your code here
data = pd.read_csv('avocado.csv')
data.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

##### 2.	Notice that the column names are inconsistent. Change the column names so they all use title case with no spaces.

In [3]:
# write your code here

# convert the columns to a list
# create a new list with the formatted column names
# assign the list of columns to the columns attribute    
# rename the Averageprice column to AveragePrice
# check that the columns have been renamed

column_list     = data.columns.tolist(); # Similar to JS spread syntax.
formttd_cols    = []

for col in column_list:
    new_col = ''.join(col.title().split(' ')) # Does not handle cases such as converting "Helloworld" to "HelloWorld"
    formttd_cols.append(new_col)

data.columns = formttd_cols # The `AveragePrice` column is already named correctly.

data.rename(columns={'Averageprice': 'AveragePrice'}, inplace=True)

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18249 entries, 0 to 18248
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed:0     18249 non-null  int64
 1   Date          18249 non-null  object
 2   AveragePrice  18249 non-null  float64
 3   TotalVolume   18249 non-null  float64
 4   4046          18249 non-null  float64
 5   4225          18249 non-null  float64
 6   4770          18249 non-null  float64
 7   TotalBags     18249 non-null  float64
 8   SmallBags     18249 non-null  float64
 9   LargeBags     18249 non-null  float64
 10  XlargeBags    18249 non-null  float64
 11  Type          18249 non-null  object
 12  Year          18249 non-null  int64
 13  Region        18249 non-null  object
dtypes: float64(9), int64(2), object(3)
memory usage: 1.9+ MB

##### 3.	Add a column with the percentage of the bags in the TotalBags column that are extra-large bags.

In [4]:
# write your code here
data['XLargeBagsPercent'] = data['XlargeBags'] / data['TotalBags']
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18249 entries, 0 to 18248
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed:0          18249 non-null  int64
 1   Date               18249 non-null  object
 2   AveragePrice       18249 non-null  float64
 3   TotalVolume        18249 non-null  float64
 4   4046               18249 non-null  float64
 5   4225               18249 non-null  float64
 6   4770               18249 non-null  float64
 7   TotalBags          18249 non-null  float64
 8   SmallBags          18249 non-null  float64
 9   LargeBags          18249 non-null  float64
 10  XlargeBags         18249 non-null  float64
 11  Type               18249 non-null  object
 12  Year               18249 non-null  int64
 13  Region             18249 non-null  object
 14  XLargeBagsPercent  18234 non-null  float64
dtypes: float64(10), int64(2), object(3)
memory usage: 2.1+ MB

##### 4.	Add a column with the percentage of the bags in the TotalBags column that are large bags.

In [5]:
# write your code here
data['LargeBagsPercent'] = data['LargeBags'] / data['TotalBags']
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18249 entries, 0 to 18248
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed:0          18249 non-null  int64
 1   Date               18249 non-null  object
 2   AveragePrice       18249 non-null  float64
 3   TotalVolume        18249 non-null  float64
 4   4046               18249 non-null  float64
 5   4225               18249 non-null  float64
 6   4770               18249 non-null  float64
 7   TotalBags          18249 non-null  float64
 8   SmallBags          18249 non-null  float64
 9   LargeBags          18249 non-null  float64
 10  XlargeBags         18249 non-null  float64
 11  Type               18249 non-null  object
 12  Year               18249 non-null  int64
 13  Region             18249 non-null  object
 14  XLargeBagsPercent  18234 non-null  float64
 15  LargeBagsPercent   18234 non-null  float64
dtypes: float64(11), int64(2), object(3)
memory usage: 2.2+ MB

##### 5.	Add a column with the percentage of the bags in the TotalBags column that are small bags.

In [6]:
# write your code here
data['SmallBagsPercent'] = data['SmallBags'] / data['TotalBags']
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18249 entries, 0 to 18248
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed:0          18249 non-null  int64
 1   Date               18249 non-null  object
 2   AveragePrice       18249 non-null  float64
 3   TotalVolume        18249 non-null  float64
 4   4046               18249 non-null  float64
 5   4225               18249 non-null  float64
 6   4770               18249 non-null  float64
 7   TotalBags          18249 non-null  float64
 8   SmallBags          18249 non-null  float64
 9   LargeBags          18249 non-null  float64
 10  XlargeBags         18249 non-null  float64
 11  Type               18249 non-null  object
 12  Year               18249 non-null  int64
 13  Region             18249 non-null  object
 14  XLargeBagsPercent  18234 non-null  float64
 15  LargeBagsPercent   18234 non-null  float64
 16  SmallBagsPercent   18234 non-null  float64
dtypes: float64(12), int64(2), object(3)
memory usage: 2.4+ MB

##### 6.	Display the first five rows of data to view the new columns.

In [7]:
# write your code here
data.head(5)

,Unnamed:0,Date,AveragePrice,TotalVolume,4046,4225,4770,TotalBags,SmallBags,LargeBags,XlargeBags,Type,Year,Region,XLargeBagsPercent,LargeBagsPercent,SmallBagsPercent
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany,0.0,0.010722,0.989278
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany,0.0,0.010256,0.989744
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany,0.0,0.012662,0.987338
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany,0.0,0.023018,0.976982
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany,0.0,0.031968,0.968032

##### 7.	Assign the Region, Type, Year, and TotalBags columns to a new DataFrame.

In [8]:
# write your code here
info = data[['Region','Type','Year','TotalBags']]
print(info)

                 Region          Type  Year  TotalBags
0                Albany  conventional  2015    8696.87
1                Albany  conventional  2015    9505.56
2                Albany  conventional  2015    8145.35
3                Albany  conventional  2015    5811.16
4                Albany  conventional  2015    6183.95
...                 ...           ...   ...        ...
18244  WestTexNewMexico       organic  2018   13498.67
18245  WestTexNewMexico       organic  2018    9264.84
18246  WestTexNewMexico       organic  2018    9394.11
18247  WestTexNewMexico       organic  2018   10969.54
18248  WestTexNewMexico       organic  2018   12014.15

[18249 rows x 4 columns]

##### 8.	Group, sum, and unstack this data to produce a DataFrame that looks like this:

<img src="p6-8.png" alt="DataFrame" width="330">

In [15]:
# write your code here

# group the data by Region, Type, and Year, and sum the values in each group
grouped = info.groupby(['Region', 'Type', 'Year']).sum()

print(grouped)

# unstack the Type level of the index to create separate columns for conventional and organic Total Volume in each Region-Year combination
grouped = grouped.unstack('Type') # Widen the dataset on the `Type` column.

print(grouped)

                                     TotalBags
Region           Type         Year
Albany           conventional 2015   662366.17
                              2016   759091.14
                              2017   699561.17
                              2018   245240.75
                 organic      2015    57289.43
...                                        ...
WestTexNewMexico conventional 2018  3547372.46
                 organic      2015   128763.94
                              2016   403881.08
                              2017   602152.24
                              2018   149141.90

[432 rows x 1 columns]
                         TotalBags
Type                  conventional     organic
Region           Year
Albany           2015    662366.17    57289.43
                 2016    759091.14    79208.77
                 2017    699561.17   135944.43
                 2018    245240.75    41552.75
Atlanta          2015   2935925.63    61065.24
...                            ...         ...
West             2018  35978608.70  2074684.34
WestTexNewMexico 2015   5399316.40   128763.94
                 2016  10870856.07   403881.08
                 2017  14195031.44   602152.24
                 2018   3547372.46   149141.90

[216 rows x 2 columns]